{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Brand</h3>
                <ul class="breadcrumb">
                    <li class=""><a href="">Dashboard </a></li>
                    <li class=""><a href="">> Brand</a></li>
                    <li class=" active"> > Add Brand</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Brand</h4>
                    <form id="userForm" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Created date</label>
                                    <input type="date" name="created_date" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Upload</label>
                                    <input type="file"  name="image" class="form-control">
                                </div>
                               
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Market</label>
                                    <select class="select form-control" name="place">
                                        {% for i in market %}
                                        <option value="{{i.id}}">{{i.name}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label>Zipcode</label>
                                    <select class="select form-control" name="code">
                                        {% for i in zipcode %}
                                        <option value="{{i.id}}">{{i.zipcode}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="text-end mt-4">
                            <button type="submit" class="btn btn-primary">Add Brand</button>
                        </div>
                    </form>
               
                </div>
            </div>
        </div>
    </div>
</div>







{% endblock %}

{% block JS %}
<script>

    $('#userForm').submit(function (e) {
        var formData = new FormData(e.target);
            e.preventDefault();
            // var data = $("#userForm").serializeArray();
            // e.preventDefault();
           
            // alert(data)
            $.ajax({
                url: "/api/addbrand/",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                mimeType: "multipart/form-data",
                // beforeSend: function (xhr) {
                //     xhr.setRequestHeader(
                //         "Authorization",
                //         "Bearer " + localStorage.getItem("useraccesstoken")
                //     );
                // },
                statusCode: {
                    201: function (response) {
                        window.location.href = "/";
                    },
                    400: function (response) {
                        alert('not')
                        // $("#successAlert").show();
                        // $("#successAlert").addClass('alert alert-danger')
                        // $("#successAlert").html('User with this email already exists')
                        // setTimeout(function () {
                        //     $("#successAlert").hide();
                        //     $("#successAlert").addClass('alert alert-success')
                        // }, 1500);
                    }
                }



            });
            return true
        })

</script>
{% endblock %}
