{% extends 'web/partials/base.html' %}
{% block content %}
{% load static %}



<div class="content container-fluid">
    <div class="row justify-content-lg-center">
        <div class="col-lg-10">

            <div class="page-header">
                <div class="row">
                    <div class="col">
                        <h3 class="page-title">Profile</h3>
                        <ul class="breadcrumb">
                            <li class=""><a href="/">Dashboard  ></a></li>
                            <li class=" active">  Profile</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="profile-cover">
                <div class="profile-cover-wrap">
                    <img class="profile-cover-img" src="{{profile.place.logo.url}}"
                        alt="Profile Cover">

                   

                </div>
            </div>
            <div class="text-center mb-5">
                <label class="avatar avatar-xxl profile-cover-avatar" for="avatar_upload">
                    <img class="avatar-img" src="{{profile.image.url}}" alt="Profile Image">
                    <input type="file" id="avatar_upload">
                    <span class="avatar-edit">
                        <i data-feather="edit-2" class="avatar-uploader-icon shadow-soft"></i>
                    </span>
                </label>
                <h2>{{profile.name}} <i class="fas fa-certificate text-primary small" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Verified"></i></h2>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="far fa-building"></i> <span>{{profile.place.name}}.</span>
                    </li>
                    <li class="list-inline-item">
                        <i class="fas fa-map-marker-alt"></i>{{profile.code.zipcode}}
                    </li>
                    <li class="list-inline-item">
                        <i class="far fa-calendar-alt"></i> <span>{{profile.created_date}}</span>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</div>







{% endblock %}

{% block JS %}

{% endblock %}
