{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Kanakku - Bootstrap Admin HTML Template</title>

    <link rel="shortcut icon" href="{% static 'web/img/favicon.png'%}">

    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'web/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/plugins/datatables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
</head>

<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">

    <div class="main-wrapper">

       


        {% include 'web/partials/header.html' %}
        {% include 'web/partials/sidebar.html' %}


        <div class="page-wrapper">

            {% block content %}
            {% endblock %}
          
        </div>

    </div>


    <script src="{% static 'web/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'web/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'web/js/feather.min.js' %}"></script>

    <script src="{% static 'web/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static 'web/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'web/plugins/apexchart/chart-data.js' %}"></script>
    <script src="{% static 'web/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'web/plugins/datatables/datatables.min.js' %}"></script>
    <!-- <script src="{% static 'web/js/script.js' %}"></script> -->
    <script>
        if ($('.counter').length > 0) {
            $('.counter').counterUp({
                delay: 20,
                time: 2000
            });
        }
    
        if ($('.datetimepicker').length > 0) {
            $('.datetimepicker').datetimepicker({
                format: 'DD-MM-YYYY',
                icons: {
                    up: "fas fa-angle-up",
                    down: "fas fa-angle-down",
                    next: 'fas fa-angle-right',
                    previous: 'fas fa-angle-left'
                }
            });
        }
    
        //  $('body').append('<div class="sidebar-overlay"></div>');
        // $(document).on('click', '#mobile_btn', function () {
        // 	$wrapper.toggleClass('slide-nav');
        // 	$('.sidebar-overlay').toggleClass('opened');
        // 	$('html').toggleClass('menu-opened');
        // 	return false;
        // });
    
    
    
        $(document).on('click', '#toggle_btn', function () {
            if ($('body').hasClass('mini-sidebar')) {
                $('body').removeClass('mini-sidebar');
                $('.subdrop + ul').slideDown();
            } else {
                $('body').addClass('mini-sidebar');
                $('.subdrop + ul').slideUp();
            }
            setTimeout(function () {
                mA.redraw();
                mL.redraw();
            }, 300);
            return false;
        });
        // ---------------------
    
        "use strict";
    
        // Variables declarations
    
        var $wrapper = $('.main-wrapper');
        var $pageWrapper = $('.page-wrapper');
        var $slimScrolls = $('.slimscroll');
    
        // Sidebar
        var Sidemenu = function () {
            this.$menuItem = $('#sidebar-menu a');
        };
    
        function init() {
            var $this = Sidemenu;
            $('#sidebar-menu a').on('click', function (e) {
                if ($(this).parent().hasClass('submenu')) {
                    e.preventDefault();
                }
                if (!$(this).hasClass('subdrop')) {
                    $('ul', $(this).parents('ul:first')).slideUp(350);
                    $('a', $(this).parents('ul:first')).removeClass('subdrop');
                    $(this).next('ul').slideDown(350);
                    $(this).addClass('subdrop');
                } else if ($(this).hasClass('subdrop')) {
                    $(this).removeClass('subdrop');
                    $(this).next('ul').slideUp(350);
                }
            });
            $('#sidebar-menu ul li.submenu a.active').parents('li:last').children('a:first').addClass('active').trigger('click');
        }
    
        // Sidebar Initiate
        init();
    
        // Mobile menu sidebar overlay
        $('body').append('<div class="sidebar-overlay"></div>');
        $(document).on('click', '#mobile_btn', function () {
            $wrapper.toggleClass('slide-nav');
            $('.sidebar-overlay').toggleClass('opened');
            $('html').toggleClass('menu-opened');
            return false;
        });
    
        // Sidebar overlay
        $(".sidebar-overlay").on("click", function () {
            $wrapper.removeClass('slide-nav');
            $(".sidebar-overlay").removeClass("opened");
            $('html').removeClass('menu-opened');
        });
    
        // Page Content Height
        if ($('.page-wrapper').length > 0) {
            var height = $(window).height();
            $(".page-wrapper").css("min-height", height);
        }
    
        // Page Content Height Resize
        $(window).resize(function () {
            if ($('.page-wrapper').length > 0) {
                var height = $(window).height();
                $(".page-wrapper").css("min-height", height);
            }
        });
    
        // Select 2
        if ($('.select').length > 0) {
            $('.select').select2({
                minimumResultsForSearch: -1,
                width: '100%'
            });
        }
        // ------------------
    
    
    
    
        //    toggle
    
        // end toggle
    
        // filters
        $(document).on('click', '#filter_search', function () {
            $('#filter_inputs').slideToggle("slow");
        });
    
        // endfilter
    
    
    
        // datatable
        if ($('.datatable').length > 0) {
            $('.datatable').DataTable({
                language: {
                    search: '<i class="fas fa-search"></i>',
                    searchPlaceholder: "Search"
                }
            });
        }
        // end datatable
    
    
    
    
    
        // end  + in add invoice
    
    
    
    
        // selectbox
        $('.app-listing .selectBox').on("click", function () {
            $(this).parent().find('#checkBoxes').fadeToggle();
            $(this).parent().parent().siblings().find('#checkBoxes').fadeOut();
        });
    
        $('.invoices-main-form .selectBox').on("click", function () {
            $(this).parent().find('#checkBoxes-one').fadeToggle();
            $(this).parent().parent().siblings().find('#checkBoxes-one').fadeOut();
        });
        // end selectbox
    
    
    
    
        $(".add-table-items").on('click', '.remove-btn', function () {
            $(this).closest('.add-row').remove();
            return false;
    
        });
    
    
    
    
    
    
     // bank settings
     // end bank settings
    </script>
    {% block JS %}
    {% endblock %}
</body>

</html>