{% load static %}

<div class="header header-one">

    <div class="header-left header-left-one">
        <a href="#" class="logo">
            <img src="{% static 'web/img/logo.png'%}" alt="Logo">
        </a>
        <a href="#" class="white-logo">
            <img src="{% static 'web/img/logo-white.png'%}" alt="Logo">
        </a>
        <a href="#" class="logo logo-small">
            <img src="{% static 'web/img/logo-small.png'%}" alt="Logo" width="30" height="30">
        </a>
    </div>


    <a href="javascript:void(0);" id="toggle_btn">
        <i class="fas fa-bars"></i>
    </a>


   


    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>


   

</div>